body {
    font-family: "Roboto";
    margin: 10px 10px 10px 10px;
    text-align: left;
}

ul{
  list-style: none;
  text-align: left; 
}

a:hover{
    color:#ff5c0f;
    }

a{
    text-decoration: none;
    color: #000;
}

#Learn{
    color: #20a8b4;
}

.code{
    color: #ff5c0f;
}

button{
    padding: 12px;
    border-radius: 10px;
    width: 100%;
    background-color: #20a8b4; 
    text-align: center;
    color:#fff;
}

button:hover{
    background-color:#ff5c0f;
}

.lrng{
    color: #ff5c0f;
}

.image{
    display: none;
}

@media only screen and (min-width:768px){

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #F2F2F2;
    justify-content: space-between;
    align-items: flex-start;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #F2F2F2;
    justify-content: space-between;
    align-items: center;
}

h1{
    align-content: left;
    align-items: left;
    padding: 0px 100px 0px 0px;
}
button{
    width:auto;
}

.image{
    display:initial;
    position: relative;
    left: 150px;
    top: 150px;
    }
}








      