body {
    font-family:"Roboto";
}
a{
    text-decoration: none;
}

.flex-container-header{
    display:flex;
    flex-direction:column;
    align-items:center;
    align-content:center;
    justify-content:space-between;
    background-color: #F2F2F2;
}   

.flex-container-body1{
    display:flex;
    flex-direction:row;
    align-items:center;
    align-content:center;
    justify-content:space-between;
}

.flex-container-body2{
    flex-direction:column;
    align-items:left;
    width:100%;
}

#responsive-button{
justify-content:flex-start;
align-items:flex-start;
width:100%;
}

ul{
display:flex;
flex-direction:row;
align-content:space-between flex-end;
align-content:right;
justify-content:flex-end;
}

li{
display:inline;
flex-direction:row;
align-content:space-between flex-end;
align-content:right;
justify-content:flex-end;
font-family:Roboto;   
}



.flexbox-item-1 {
display: flex;
flex-direction:column;
justify-content:space-between;
align-content: center;
text-align:center;
background-color: #F2F2F2;
flex-wrap:nowrap;
}

.flexbox-item-2 {
flex-direction:row;
justify-content:space-between;
padding:15px 15px 15px 15px;
align-content: center;
text-align:center;
background-color: #F2F2F2;
}
.flexbox-item-3{
flex-direction:row;
justify-content:space-between;
padding:15px 15px 15px 15px;
align-content: right;
text-align:center;
background-color: #F2F2F2
}

.flexbox-item-4{
flex-direction:row;
justify-content:space-between;
padding:15px 15px 15px 15px;
align-content:right;
text-align:center;
background-color: #F2F2F2
}

.flexbox-item-5{
flex-direction:row;
justify-content:space-between;
padding:15px 15px 15px 15px;
align-content:right;
text-align:center;
background-color: #F2F2F2
}

.flexbox-item-6{
flex-direction:row;
justify-content:space-between;
padding:15px 15px 15px 15px;
align-content:right;
text-align:center;
background-color: #20a8b4;
width:100%;
}


.flexbox-item-7{
display:flex;
flex-direction: column;
justify-content:flex-start;
}

.flexbox-item-8{
display:flex;
flex-direction:column;
justify-content:flex-start;
display:none;
}

.flexbox-item-9{
display:flex;
justify-content:left;
align-content:space-between;
}

.flexbox-item-10{
    display:flex;
    align-content:center;
    background-color: #20a8b4;
    width: 100%;
    padding:0px 5px 0px 5px;
}
.flex-container-body2{
    flex-direction:column;
    align-items:center;
    text-align:left;
    width:100%;
    }

ul{
    display:inline;
    flex-direction:column;
    align-content:space-between flex-end;
    justify-content:flex-end;
    font-family:Roboto;
    }

li{
display:flex;
flex-direction:column;
align-content:space-between;
align-content:right;
font-family:Roboto;   
}
.flexbox-item-8{
    display:initial;}

#Learn-to{
        color: #20a8b4;
        }
.flexbox-item-2:hover{
        background-color:#ff5c0f
        }
        .flexbox-item-3:hover{
        background-color:#ff5c0f
        }
        .flexbox-item-4:hover{
        background-color:#ff5c0f
        }
        .flexbox-item-5:hover{
        background-color:#ff5c0f
        }
        .flexbox-item-6:hover{
        background-color:#ff5c0f
        }
        .flexbox-item-10:hover{
        background-color:#ff5c0f
        }

@media screen and (min-width:768px){
   
    .flex-container-header{
        display:flex;
        flex-direction:row;
        align-items:center;
        align-content:center;
        justify-content:space-between;
        background-color: #F2F2F2;
    }
    .flex-container-body2{
        flex-direction:column;
        align-items:center;
        text-align:left;
        width:auto;
        }
    .flexbox-item-1 {
        display: flex;
        flex-direction:row;
        justify-content:space-between;
        align-content: center;
        text-align:center;
        background-color: #F2F2F2;
        flex-wrap:nowrap;
    }
    
    .flexbox-item-2 {
        flex-direction:row;
        justify-content:space-between;
        padding:15px 15px 15px 15px;
        align-content: center;
        text-align:center;
        background-color: #F2F2F2;
    }
    
    .flexbox-item-3{
        flex-direction:row;
        justify-content:space-between;
        padding:15px 15px 15px 15px;
        align-content: right;
        text-align:center;
        background-color: #F2F2F2
    }
    
    .flexbox-item-4{
        flex-direction:row;
        justify-content:space-between;
        padding:15px 15px 15px 15px;
        align-content:right;
        text-align:center;
        background-color: #F2F2F2;
    }
    
    .flexbox-item-5{
        flex-direction:row;
        justify-content:space-between;
        padding:15px 15px 15px 15px;
        align-content:right;
        text-align:center;
        background-color: #F2F2F2;
    }
    
    .flexbox-item-6{
        flex-direction:row;
        justify-content:space-between;
        padding:15px 15px 15px 15px;
        align-content:right;
        text-align:center;
        background-color: #20a8b4;
        width:auto;
    }
    
    .flexbox-item-7{
        display:flex;
        flex-direction: column;
        justify-content:flex-start;
        width:800px;
    }
    
    .flexbox-item-8{
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        }
    
    .flexbox-item-9{
            display:flex;
            justify-content:flex-start;
            align-content:space-between;
            text-align:left
            }
            
    .flexbox-item-10{
            
            justify-content:flex-start;
            align-content:space-between;
            background-color: #20a8b4;
            width:100px;
            padding:0px 5px 0px 15px;
            text-align:left
            }            
   
    
    img{
        display:initial
    }
    
    #Learn-to{
        color: #20a8b4;
    }
    
    #responsive-button{
        color: white;
        width:auto;
    }
    
    
    
    #Code{
        color: #ff5c0f;
        }
    #think-about{
        color: black
        }
    #learning{
        color: #ff5c0f;
        }
        .flexbox-item-2:hover{
            background-color:#ff5c0f
            }
            .flexbox-item-3:hover{
                background-color:#ff5c0f
                }
            .flexbox-item-4:hover{
                background-color:#ff5c0f
                }
            .flexbox-item-5:hover{
                background-color:#ff5c0f
                }
            .flexbox-item-6:hover{
                background-color:#ff5c0f
                }
            .flexbox-item-10:hover{
                background-color:#ff5c0f
                }
    }
    








      